<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mx-auto" style="max-width:500px;">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body">
                    <div class="card-text">
                        <change-password
                            :user = "{{JSONstringify user}}"
                            :require-current-password="true"
                            :show-success-message = "true"
                        ></change-password>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>