<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Raspberry Pi {{ locals.raspberryPiName }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sense-hat-data></sense-hat-data>
        </div>
    </div>
</div>