html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 80px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

a {
  color: #00B7FF;
}

/* Vue Styles */
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

/* Error styles */
.error-asterisk {
    color: red;
}

.field-error-message {
    color: red;
    font-size: 0.75em;
}

.invalid-field {
    border-color: red;
    box-shadow: 0px 0px 10px red;
}
