<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <main>
            <form action="/users/changePassword" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <change-password
                                error-message = '<%= locals.errorMessage %>'
                            ></change-password>
                        </div>
                    </div>
                </div> 
            </form>
        </main>
        <% include ../partials/footer %>
    </body>
</html> 