<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <main>
            <form action="/changePassword" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="changePasswordApp" v-cloak class="card mx-auto" style="max-width:500px;">
                                <h5 class="card-header">Change Password</h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <% if (!locals.passwordChangeSuccess) { %>
                                            <% if (locals.errorMessage) { %>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="alert alert-danger" role="alert">
                                                            <i class="fas fa-exclamation-triangle"></i> <%= errorMessage %>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <div v-if="validationErrorList.length > 0" class="row">
                                                <div class="col-12">
                                                    <div class="alert alert-danger" role="alert">
                                                        <i class="fas fa-exclamation-triangle"></i> Errors in form:
                                                        <ul>
                                                            <li v-for="error in validationErrorList">
                                                                {{ error }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtCurrentPassword" class="col-md-6 col-form-label">
                                                    Current Password <span v-show="!fieldIsValid.currentPassword" class="error-text">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="password" class="form-control" v-bind:class="{ 'invalid-field': !fieldIsValid.currentPassword }" name="txtCurrentPassword" v-model="currentPassword">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtNewPassword" class="col-md-6 col-form-label">
                                                    New Password <span v-show="!fieldIsValid.newPassword" class="error-text">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="password" class="form-control" v-bind:class="{ 'invalid-field': !fieldIsValid.newPassword }" name="txtNewPassword" v-model="newPassword">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtNewPasswordConf" class="col-md-6 col-form-label">
                                                    Confirm New Password  <span v-show="!fieldIsValid.newPassword" class="error-text">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="password" class="form-control" v-bind:class="{ 'invalid-field': !fieldIsValid.newPasswordConf }" name="txtNewPasswordConf" v-model="newPasswordConf">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-12 text-center">
                                                    <button type="submit" @click="submitForm" class="btn btn-primary"><i class="fas fa-key"></i> Change Password</button>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="alert alert-success" role="alert">
                                                        <i class="fas fa-check"></i> Successfully changed password.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="/changePassword">Change the password again.</a>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var changePasswordApp = new Vue({
                                    el: '#changePasswordApp',
                                    data: {
                                        currentPassword: '',
                                        newPassword: '',
                                        newPasswordConf: '',
                                        fieldIsValid: {
                                            currentPassword: true,
                                            newPassword: true,
                                            newPasswordConf: true
                                        },
                                        validationErrorList: [],
                                    },
                                    methods: {
                                        validateForm: function () {
                    
                                            //Void out errors first
                                            this.validationErrorList = [];
                                            this.fieldIsValid.currentPassword = true;
                                            this.fieldIsValid.newPassword = true;
                                            this.fieldIsValid.newPasswordConf = true;
                    
                                            //Verify the fields are not blank
                                            if (this.currentPassword == '') {
                    
                                                this.fieldIsValid.currentPassword = false;
                                                this.validationErrorList.push('You must enter your current password.');
                    
                                            }
                                            if (this.newPassword == '') {
                    
                                                this.fieldIsValid.newPassword = false;
                                                this.validationErrorList.push('You must enter your new password.');
                    
                                            }
                                            if (this.newPasswordConf == '') {
                    
                                                this.fieldIsValid.newPasswordConf = false;
                                                this.validationErrorList.push('You must enter the confirmation password.');
                    
                                            }

                                            //Verify the new password and the new password confirmation match
                                            if (this.currentPassword != '' &&
                                                this.newPassword != '' &&
                                                this.newPasswordConf != '') {

                                                if (this.newPassword != this.newPasswordConf) {
                    
                                                    this.fieldIsValid.newPassword = false;
                                                    this.fieldIsValid.newPasswordConf = false;
                                                    this.validationErrorList.push('The confirmation password does not match the new password.');
                                                }
                                                if (this.currentPassword == this.newPassword && 
                                                    this.newPassword == this.newPasswordConf) {

                                                        this.fieldIsValid.currentPassword = false;
                                                        this.fieldIsValid.newPassword = false;
                                                        this.fieldIsValid.newPasswordConf = false;
                                                        this.validationErrorList.push('You are trying to change the password to the current password.');
                                                }
                                            }
                    
                                            //Return the correct value
                                            if (this.validationErrorList.length == 0 ){
                                                return true;
                                            } else {
                                                return false;
                                            }
                    
                                        },
                                        submitForm: function (event) {
                                            //Validate form
                                            if (!this.validateForm()) {
                                                //Cancel submission
                                                event.preventDefault();
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div> 
            </form>
        </main>
        <% include ../partials/footer %>
    </body>
</html> 