<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div id="app" v-cloak>
            <header>
                <% include ../partials/header %>
            </header>
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <h5 class="card-header">Create User</h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <create-user></create-user>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="border-top footer text-muted bg-dark">
                <% include ../partials/footer %>
            </footer>
        </div>
        <script src="/build/bundle.js"></script>
    </body>
</html> 